<div class="side_menu_container">
  <div class="side_menu">
    <div class="side_heading">Join the team</div>
    <p>View
      <%= link_to "current vacancies", "http://mintdigital.com/about/jobs", :target => "_blank" %></p>
    <div class="side_heading">Mint projects</div>
    <%= link_to "Hemlock", "http://hemlock-kills.com" , :target => "_blank"%>
    <p>
      Real-time app framework
    </p>
    <%= link_to "Caplets", "http://mintdigital.github.io/caplets", :target => "_blank" %>
    <p>
      Capistrano++</p>
    <%= link_to "AssetHat", "http://mintdigital.github.io/asset_hat", :target => "_blank"%>
    <p>
      Load CSS/JS faster
    </p>
    <%= link_to "Pyrite", "http://mintdigital.github.io/pyrite/", :target => "_blank" %>
    <p>
      In-browser auto-testing
    </p>
  </div>
</div>
